* {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* .mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

body {
  font-family: "Mansalva", sans-serif;
  margin: 0;
}

p,
h3 {
  font-family: "Open Sans", serif;
}

nav {
  position: fixed;
  display: inline-block;
  width: 100vw;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 auto;
}

li {
  padding: 15px;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.basket {
  width: 40px;
}

header {
  width: 100vw;
  background: url(pictures/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 68px;
  height: 450px;
  position: relative;
}

h1 {
  font-size: 122px;
  color: rgb(244, 244, 232);
  position: absolute;
  right: 150px;
}

main {
  margin: 0 auto;
  width: 1200px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  display: flex;
  flex-basis: 49%;
}

.products__item--even {
  display: flex;
  flex-basis: 49%;
  flex-direction: row-reverse;
}

.products__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 49%;
  padding: 10px;
}

.products__text img {
  max-width: 250px;
}

.products__deco {
  flex-basis: 49%;
  margin: 0;
  background: url(pictures/iStock-2149362857.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products__item--even .products__deco {
  flex-basis: 49%;
  margin: 0;
  background: url(pictures/iStock-2149363244.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products__price {
  align-self: self-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.products__price p {
  font-family: "Mansalva", sans-serif;
  margin: 0;
  font-size: 32px;
}

button {
  font-family: "Mansalva", sans-serif;
  font-size: 24px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background: none;
}

.icon {
  width: 40px;
  margin: 10px;
}

footer {
  font-family: "Mansalva", sans-serif;
  padding-top: 40px;
  background: url(pictures/header.jpg);
  height: 150px;
  text-align: center;
}